tensorflow==2.15.0
pandas
numpy
scikit-learn
tensorboard
matplotlib
streamlit
ipykernel
keras
scikeras
nltk
langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma